<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomon.main_painter_v1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen.main" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Paint_Top" android:screenOrientation="portrait"/>
        <activity android:name=".WebForm" android:screenOrientation="portrait"/>
        <activity android:name=".QR.QrCodeReader" android:screenOrientation="portrait"/>
        <activity android:name=".QR.qr1" android:screenOrientation="landscape"/>
        <activity android:name=".QR.qr1_ans" android:screenOrientation="landscape"/>
        <activity android:name=".QR.stamp" android:screenOrientation="landscape"/>
        <activity android:name=".QR.qr1_ans_ng" android:screenOrientation="landscape"/>
    </application>

</manifest>