<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomon.main_painter_v1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen.main_top" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Paint_Top" android:screenOrientation="portrait"/>
        <activity android:name=".WebForm" android:screenOrientation="portrait"/>
        <activity android:name=".QR.QrCodeReader" android:screenOrientation="portrait"/>
        <activity android:name=".QR.qr1" android:screenOrientation="landscape"/>
        <activity android:name=".QR.qr1_ans" android:screenOrientation="landscape"/>
        <activity android:name=".QR.stamp" android:screenOrientation="landscape"/>
        <activity android:name=".QR.qr1_ans_ng" android:screenOrientation="landscape"/>
        <activity android:name=".map.Main1Activity"></activity>
        <activity android:name=".map.Main2Activity"></activity>
        <activity android:name=".map.MainHActivity"></activity>
        <activity android:name=".map.Main3Activity"></activity>
        <activity android:name=".map.Main4Activity"></activity>
        <activity android:name=".map.Main5Activity"></activity>
        <activity android:name=".map.MainHelpActivity"></activity>
        <activity android:name=".map.Main301Activity" />
        <activity android:name=".map.Main202Activity"/>
        <activity android:name=".map.Main403Activity"/>
        <activity android:name=".map.Main402Activity" />
        <activity android:name=".map.Main203Activity"/>
        <activity android:name=".map.Main302Activity"/>
        <activity android:name=".map.Maink101Activity"/>
        <activity android:name=".map.Main305Activity"/>
        <activity android:name=".map.Main501Activity"/>
        <activity android:name=".map.Main502Activity"/>
        <activity android:name=".map.Map_main"/>
        <activity android:name=".ars_web"/>
        <activity android:name=".QR.qr1_ans_ng_seigen" android:screenOrientation="landscape"/>
        <activity android:name=".MainScreen.Arice"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>